# Ignore artifacts:
coverage
node_modules/
dist/
public/
build/
.cache/
.vscode/
.sonarlint/
.idea/
yarn-error.log
package-lock.json
.DS_Store
.env
logs/*
tests/happy-path/results
debug.log
.history/
.parcel-cache/